<div class="panel panel-default">
  <div class="panel-heading">Page Detail Page</div>
  <div class="panel-body">
   <a href="#/putPage/{{page.id}}"><button type="button" class="btn btn-default btn-md glyphicon glyphicon-pencil"></button></a>
   <a href="#/queryPage"><button type="button" class="btn btn-default btn-md glyphicon glyphicon-arrow-left"></button></a>
  </div>
  
  <div class="panel-heading">Page Detail Info</div>
  <div class="panel-body form-horizontal">
   <div class="form-group">
    <label for="inputPageId" class="col-sm-2 control-label">Page ID</label>
    <div class="col-sm-10">{{page.id}}</div>
   </div>
   <div class="form-group">
    <label for="inputName" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">{{page.name}}</div>
   </div>
   <div class="form-group">
    <label for="inputAlias" class="col-sm-2 control-label">Alias</label>
    <div class="col-sm-10">{{page.alias}}</div>
   </div>
   <div class="form-group">
    <label for="inputLeaf" class="col-sm-2 control-label">Leaf</label>
    <div class="col-sm-10">{{page.leaf}}</div>
   </div>
   <div class="form-group">
    <label for="inputProperties" class="col-sm-2 control-label">Properties</label>
    <div class="col-sm-10">{{page.properties}}</div>
   </div>
  </div>
</div>  